/* .likelion{

  .likelion__list{
    list-style: none;
  }

  .likelion__list:hover{
    background-color: yellow;
  }
} */

.likelion {
  .likelion__list {
    list-style: none;

    &:hover {
      background-color: pink;
    }

    .likelion__item {
      color: green;

      .likelion__link {
        color: inherit;
      }
    }
  }
}
