/* 클래스 선택자 */
/* 배경색상 */
/* 폰트베리언트 속성으로 대문자 변환 가능했지만 크기가 작은 대문자인 관계로 주석처리 */
/* 검색을 통해 텍스트 트렌스폼 속성을 알게되었고 대문자로 병환하는 값을 적용함 */
/* 텍스트트렌스폼 속성을 .멤버스서비스에 선언함으로서 자식요소 모두에 상속쇠도록 함 */
.member-service {
  background-color: yellow;
  /* font-variant: small-caps; */
  text-transform: uppercase;
  font-size: 1.125rem;
  font: 1.125rem, suit, sans-serif;
}
/* 태그 선택자 */
/* 웹브라우저 스타일(밑줄)을 재정의 */
/* 웹브라우저 링크 스타일(색상)을 재정의 (상속) */
a {
  text-decoration: none;
  color: inherit;
}
/* a 요소이면서 가상요소 선택자 */
.item::before {
  content: ':';
}

/* a 요소보다 우선순위 */
.item.first::before {
  content: '';
}
/* 구조 선택자를 이용할 때??? */
