.sr-only {
  position: absolute;
  /* 일반흐름을 벗어나 화면에서 띄우는 것 자리차지 안함 */
  width: 1px;
  height: 1px;
  /* 상자가 작아서 글은 오버플로우 됨 (넘침) */
  padding: 0;
  margin: -1px;
  /* 음수 마진? 트릭 */
  overflow: hidden;
  /* 넘친것을 안보이게 숨김 */
  clip: inset(50%);
  /* 요소를 화면에서 숨기는 데 사용 */
  white-space: nowrap;
  /* 직역하면 줄바꿈금지.오버플로우 된걸 가로로 */
  border-width: 0;
  /* 혹시 테두리가 잇 */
}
